body {
  background-color:rgba(34,34,34,0.55);
  width:100%;
  margin:0;
  height:100%;
  padding:0;
  overflow:hidden;
}

html {
  height:100%;
  margin:0;
}

#logo {
  max-height:42px;
  margin-right:10px;
  display:inline-block;
  margin-top:-3px;
}

#upload {
  display:none;
}

div.upRow {
  width:100%;
  height:54%;
}

div.bottomRow {
  width:100%;
  height:40%;
  display:block;
}

#canvasD {
  background-color:white;
  border:1px solid black;
  margin-left:3px;
  display:inline-block;
}

.navbar.navbar-inverse {
  height:5%;
  max-height:5%;
}

.navbar-brand.navbar-link {
  margin-top:-5px;
}

div.tab {
  margin-left:5px;
  display:block;
  border-radius:5px;
  border:1px solid #030303;
}

#cnvs {
  width:75%;
  height:100%;
  margin-top:-17px;
  display:inline-block;
}

#LiteGraph {
  display:block;
  border-radius:5px;
  border:1px solid #030303;
  height:100%;
  width:100%;
  margin-left:1px;
  margin-top:-17px;
  background-color:rgba(34,34,34,1);
}

#Lgraph {
  width:100%;
  height:90%;
}

h4 {
  color:rgb(139,136,136);
  text-align:left;
  border-bottom:0.5px;
  margin-left:5px;
  border-color:white;
  margin-right:10px;
  border-bottom-style:groove;
  margin-top:5px;
  border-bottom-color:#70cee2;
  font-size:20px;
  width:auto;
}

#Pxy {
  float:left;
  margin-left:4px;
  margin-top:1px;
}

#ObjFeat {
  margin-left:1px;
  text-align:center;
  height:100%;
  max-height:100%;
  position:relative;
  margin-top:-18px;
  width:24%;
  background-color:rgba(34,34,34,1);
  display:inline-block;
}

#objInfo {
  max-height:100%;
  overflow-y:hidden;
  height:100%;
  width:100%;
}

.form-control {
  height:50%;
  background-color:rgba(34,34,34,0.55);
  cursor:pointer;
  float:right;
  width:30%;
  display:inline-block;
  margin-top:-3px;
  color:rgb(130,130,130);
  text-align:center;
  margin-right:40%;
}

.form-controlT {
  margin-left:5px;
  height:30px;
  background-color:rgba(34,34,34,0.55);
  cursor:pointer;
  float:inherit;
  width:25%;
  display:inline-block;
  margin-top:-3px;
  border-radius:5px;
  border-width:1px;
  color:rgb(130,130,130);
  text-align:center;
  margin-right:10px;
}

::-webkit-scrollbar {
  width:5px;
  height:auto;
  background-color:#616465;
  border-radius:10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  border-radius:10px;
}

::-webkit-scrollbar-thumb {
  border-radius:10px;
  -webkit-border-radius:10px;
  background:#70cee2;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

div.s1, div.s2, div.s3 {
  display:none;
}

dl {
  width:100%;
  overflow-x:hidden;
  overflow-y:auto;
  height:88%;
}

dt {
  color:white;
  text-align:left;
  margin-left:5px;
  margin-right:40px;
  border-bottom-style:groove;
  border-bottom-color:#70cee2;
  margin-top:7px;
  border-bottom-width:1px;
  font-size:12px;
}

dd {
  color:#c7c6e3;
  margin-left:10px;
  margin-top:15px;
  text-align:left;
  width:100%;
}

label.XY {
  color:#c7c6e3;
  margin-left:-5px;
  float:left;
  text-align:right;
  margin-top:8px;
  width:30%;
  font-weight:100;
}

select {
  background-color:inherit;
  color:#70cee2;
  outline:none;
  border:none;
  width:inherit;
}

select:hover {
  color:#80e9ff;
}

option {
  background-color:rgb(139,136,136);
}

#music_buttons {
  position:absolute;
  right:0px;
  width:15%;
  display:none;
}

button.audCon {
  outline:none;
  border-radius:5px;
  border:none;
  width:auto;
  height:90%;
  background-color:inherit;
  margin-top:2px;
  margin-left:5%;
}

button.audCon:hover {
  transition:0.4s;
  background-color:#3a3a3a;
}

button.audCon:active {
  transition:0.4s;
  background-color:#565656;
}

img.mB {
  height:30px;
  width:30px;
}

button.globalSet {
  color:#70cee2;
  cursor:pointer;
  border:0;
  font-size:12px;
  transition:0.4s;
  background-color:inherit;
  width:47%;
  margin-top:2px;
  text-align:right;
  margin-right:3px;
  outline:none;
  height:inherit;
  position:absolute;
  right:0;
}

button.upSave, #Img, #mUrl {
  color:#70cee2;
  cursor:pointer;
  border:0;
  font-size:12px;
  transition:0.4s;
  background-color:inherit;
  outline:none;
  height:auto;
  width:auto;
  border-radius:5px;
  margin-bottom:3px;
}

button.globalSet:hover, button.globalSet.active, button.upSave:hover, button.upSave.active, #Img:hover {
  color:rgba(255,255,255,1);
  border:0;
  transition:0.4s;
  background-color:#3a3a3a;
}

#backGround, #infPanel, #MusicP, #boxInf {
  display:none;
  height:auto;
  width:100%;
  max-height:98%;
  position:relative;
}

#imgSlider {
  float:inherit;
  width:60%;
  margin-left:40px;
  cursor:pointer;
  outline:none;
}

